.custom-button {
    min-width       : 20vw;
    height          : 50px;
    letter-spacing  : 0.5px;
    line-height     : 50px;
    padding         : 0 35px 0 35px;
    font-size       : 15px;
    border-radius   : 4px;
    background-color  : rgb(114, 113, 113);
    color             : white;
    text-transform    : uppercase;
    font-family       : 'Open Sans Condensed';
    font-weight       : bolder;
    border            : none;
    cursor            : pointer;
    display           : flex;
    justify-content   : center;
  
    &:hover {
     filter: brightness(1.1);
    }
    &:active{
      transform: scale(0.9);
    }
    @media screen and (max-width: 800px){
      min-width: 15vw;
      padding: 0 5px 0 5px;
    }
    &.disabled-button{
        &:hover {
          cursor: not-allowed;
          filter: brightness(1);
        }
        &:active{
          transform: scale(1);
        }
        &:focus{
          outline: none;
        }
    }
  }
  